@{
    ViewBag.Title = "Home Page";
}
<style>
    .badge {
        font-size: 100% !important;
    }

    .e-charts {
        height: 160px !important;
    }

    .card {
        margin-bottom: 0 !important;
    }

    .profile-container {
        display: flex;
        align-items: center;
        margin-top: 20px;
        justify-content: space-between;
    }

        .profile-container img {
            width: 30px;
            height: auto;
            margin-right: 20px;
        }

        .profile-container button {
            align-items: end;
        }

    .profile-info {
        display: flex;
        flex-direction: column;
    }

        .profile-info label {
            margin-bottom: 0px;
            margin-left: 0px;
            font-size: 15px;
        }

    .user-id-container {
        display: flex;
        align-items: center;
        margin-top: 44px;
        margin-left: -51px;
    }

        .user-id-container label {
            margin-right: 423px;
        }

    .profile-container button:hover {
        background-color: darkblue;
        color: black;
        border: none;
    }

    .card.custom-bg {
        color: white;
    }

        .card.custom-bg .card-title {
            color: white !important;
        }

    .consume-labels {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

        .consume-labels label {
            font-size: 14px;
            color: #FFD700;
        }

    .card.custom-bg .card-title {
        color: #FFD700 !important;
        font-weight: bold !important;
        font-size: 2em !important;
    }

    .custom-container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 15px;
    }

    .scrollable-grid {
        max-height: 130px;
        overflow-y: auto;
        margin-top: 15px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

        .scrollable-grid::-webkit-scrollbar {
            display: none;
        }

        .scrollable-grid .grid-item {
            background-color: #f1f1f178;
            margin-bottom: 5px;
            color: #212529;
            font-weight: bold;
            padding: 2px;
            border-radius: 5px;
            color: black;
            font-size: 0.9em;
        }

    @@media (max-width: 767px) {
        .consume-labels {
            flex-direction: column;
            align-items: flex-start;
        }

            .consume-labels label {
                margin-bottom: 5px;
            }
    }

    .jumbotron h3 {
        color: #1E90FF;
        font-weight: bold;
        font-family: none;
        font-size: 36px;
    }

    .kwh {
        font-size: 30px;
        /*padding-bottom: 10px;*/
        color: #FFD700;
    }

    .meterheading {
        color: #e2d707;
        font-size: 20px;
    }

    .heading {
        border: 1px solid;
        background-color: #E3F2FD;
        color: dodgerblue;
        border-radius: 10px;
        font-size: 50px;
        font-family: Arial;
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding: 0px 0;
        margin: 0;
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        width: 100%;
        height: calc(100vh - 100px);
        overflow: hidden;
        padding: 10px;
        position: relative; /* Added for positioning date selector */
    }

    .menu-icon {
        position: absolute;
        top: 15px;
        right: 35px;
        font-size: 30px;
        cursor: pointer;
        z-index: 1001;
    }

    .controls-container {
        position: fixed;
        top: 70px;
        right: 20px;
        z-index: 1000;
        box-shadow: 10px 3.5px 5px lightslategray;
    }

    .controls {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: #dad9d9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .date-selector {
        margin-bottom: 20px;
    }

    .labell {
        display: block;
        color: forestgreen !important;
        font-weight: bold;
        font-size: 17px;
    }

    .inputt {
        margin-bottom: 10px;
        display: block;
        width: 365px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .side-buttons button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px; /* Add some space between the buttons */
        width: 100%; /* Make buttons take full width of their container */
    }

        .side-buttons button:hover {
            background-color: #45a049;
        }
</style>
<link href="~/Content/css/home.css" rel="stylesheet" />
<div id="preloader">
    <div class="waviy">
        <span style="--i:1">L</span>
        <span style="--i:2">O</span>
        <span style="--i:3">A</span>
        <span style="--i:4">D</span>
        <span style="--i:5">I</span>
        <span style="--i:6">N</span>
        <span style="--i:7">G</span>
        <span style="--i:8">.</span>
        <span style="--i:9">.</span>
        <span style="--i:10">.</span>
    </div>
</div>

<div class="jumbotron center" style="text-align: center;">
    <div class="heading">Operation Wise Status <span>@DateTime.Now.ToString("dd/MM/yyyy hh:mm")</span></div>

    <div class="menu-icon" onclick="toggleControls()">☰</div>
    <div class="dashboard" id="groupContainers" onclick="toggleControls1()">
        <!-- Date Selector -->
        <!-- The containers will be loaded dynamically here -->
    </div>
    <div class="controls-container">
        <div class="controls">
            <div class="date-selector" style="display:none;">
                <label class="labell" for="FromDate">From Date:</label>
                <input class="inputt" type="date" id="Fdate" name="fromdate">
                <label class="labell" for="ToDate">To Date:</label>
                <input class="inputt" type="date" id="Tdate" name="todate">
                <label for="GroupNames">Group Names:</label>
                <select id="groupDropdown" style="width:96%;" class="form-select"></select>
            </div>
            <div class="side-buttons">
                <button id="viewGraphBtn" style="display:none;">View Graph</button>
                <button id="viewDataBtn" style="display:none;" onclick="viewDataBtn_Clicked()">VIEW DATA</button>
                <button id="btnOverAll" onclick="btn_OverAll()" style="width:250px">OVER ALL</button>
            </div>
            <div class="side-buttons">
                <button id="btnTopCon" onclick="btn_TopCons()" style="width:250px">TOP CONSUMPTIONS</button>
            </div>
        </div>
    </div>

    <div id="groupContainers" class="custom-container container" style="padding:0px !important;"></div>
</div>

<script src="~/Content/assets/libs/jquery/jquery.min.js"></script>
<script src="~/Content/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/assets/libs/echarts/echarts.min.js"></script>
<script>
    var preloader = document.getElementById('preloader');
    $(document).ready(function () {
        preloader.style.display = 'inline-flex';
        LoadGroupData();
        LoadGroupNames();
        setTimeout(function () {
            preloader.style.display = 'none';
        }, 2000);
    });

    function LoadGroupData() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetGroupsWithMeters", "Home")',
            contentType: "application/json; charset=utf-8",
            success: function (groups) {
                console.log(groups);
                var container = $("#groupContainers");
                container.empty();
                debugger;
                if (Array.isArray(groups)) {
                    var row;
                    groups.forEach((group, index) => {
                        if (index % 3 === 0) {
                            row = $('<div class="row"></div>');
                            container.append(row);
                        }

                        //var colors = ["#4b62bd", "#468585", "#4b62bd", "#468585", "#4b62bd", "#468585"];
                        var colors = ["#26648E", "#028174", "#26648E", "#028174", "#26648E", "#028174"];
                        var color = colors[index % colors.length];
                        var groupHtml = "";
                        var groupName = `${group.GroupName}`;
                        if (groupName === "TRANSFORMER WISE") {
                            groupHtml = `
                            <div class="col-md-4 col-sm-6 col-12 p-1">
                                <div class="card custom-bg" style="background-color: ${color };" >
                                    <div class="card-body" id="Group_${group.GroupId}">
                                        <div style="display: flex;justify-content: center;" ondblclick="navigateToNextPage('${group.GroupId}', '${group.GroupName}')">
                                        <h3 style="color:#FFD700;font-size: 3em;">${group.GroupName}</h3>
                                        </div>
                                        <div class="consume-labels" style="visibility:hidden;"  >
                                            <label style="font-size:1.5em;">YESTERDAY: <span id="yesterday_${group.GroupId}"></span></label>
                                            <label style="font-size:1.5em;">TODAY: <span id="today_${group.GroupId}"></span></label>
                                        </div>
                                        <div >
                                        <select id="ddlTranswise" style="align-content: center;font-size:1.5em;" class="form-select" onchange="OnTSWSelectChanged()">
                                        <option >-SELECT-</option>
                                        <option value="PCC-1">PCC-1</option>
                                        <option value="PCC-2">PCC-2</option>
                                        <option value="PCC-3">PCC-3</option>
                                        <option value="EMG Panel">EMG Panel</option>
                                        </select>
                                        </div>
                                        <div style="padding:3px;">
                                            <div class="consume-labels" >
                                                <label style="font-size:1.5em;">YESTERDAY: <span id="tsyesterday_${group.GroupId}"></span></label>
                                                <label style="font-size:1.5em;" >TODAY: <span id="tstoday_${group.GroupId}"></span></label>
                                            </div>
                                        </div>

                                        <div style="display:none">
                                        <h1 class="meterheading">Meters</h1>
                                        </div>
                                        <div style="display:none" class="scrollable-grid" id="meterGrid_${group.GroupId}"></div>
                                    </div>
                                </div>
                            </div>
                        `;
                        }
                        else {
                            if (groupName != "NA") {
                                groupHtml = `
                                    <div class="col-md-4 col-sm-6 col-12 p-1">
                                        <div class="card custom-bg" style="background-color: ${color};" ondblclick="navigateToNextPage('${group.GroupId}', '${group.GroupName}')">
                                            <div class="card-body" id="Group_${group.GroupId}">
                                                <div style="display: flex;justify-content: center;">
                                                <h3 style="color:#FFD700;font-size: 3em;">${group.GroupName}</h3>
                                                </div>
                                                <div class="consume-labels">
                                                    <label style="font-size:1.5em;">YESTERDAY: <span id="yesterday_${group.GroupId}"></span></label>
                                                    <label style="font-size:1.5em;">TODAY: <span id="today_${group.GroupId}"></span></label>
                                                </div>
                                                <div>
                                                </div>
                                                <div style="display: flex;justify-content: space-evenly;">
                                                <div>
                                                <h3 style="color:#DEF9C4;font-size: 3em;">VARIABLE</h3>
                                                <h1 style="font-size:1.5em; color:#FFD700;">TODAY :<span style="color:#FFFFFF;" id="var_today_con${group.GroupId}"> 00</span></h1>
                                                <h1 style="font-size:1.5em; color:#FFD700;">YESTERDAY :<span style="color:#FFFFFF;" id="var_yesday_con${group.GroupId}"> 00</span></h1>
                                                </div>
                                                <div>
                                                <h3 style="color:#DEF9C4;font-size: 3em;">FIXED</h3>
                                                <h1 style="font-size:1.5em; color:#FFD700;">TODAY :<span style="color:#FFFFFF;" id="fix_today_con${group.GroupId}"> 00</span></h1>
                                                <h1 style="font-size:1.5em; color:#FFD700;">YESTERDAY :<span style="color:#FFFFFF;" id="fix_yesday_con${group.GroupId}"> 00</span></h1>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `;
                            }
                        }

                        row.append(groupHtml);
                        LoadMeterData(group.GroupId);
                    });
                } else {
                    console.error("Expected an array but received: ", groups);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

        $("#viewGraphBtn").click(function () {
            debugger
            var fDate = document.getElementById('Fdate').value;
            var tDate = document.getElementById('Tdate').value;


            var selectedOption = $("#groupDropdown").find(":selected");


            if (selectedOption.length > 0) {
                var groupId = selectedOption.val();
                var groupName = selectedOption.text();

                // Split the groupId if it contains the separator "-"
                var parts = groupId.split("-");
                if (parts.length === 2) {
                    groupId = parts[1]; // Extract the actual groupId
                }

                // Check if all required fields are not empty
                if (fDate !== "" && tDate !== "" && groupId !== "") {
                    window.location.href = `@Url.Action("OverAllGraphIndex", "Graph")?strFD=${fDate}&strTD=${tDate}&groupName=${groupName}`;
                } else {
                    alert('Please Check Date Selection and Group Name.');
                }
            } else {
                alert('Please select a Group Name.');
            }
        });

        function viewDataBtn_Clicked() {
             var fDate = document.getElementById('Fdate').value;
             var tDate = document.getElementById('Tdate').value;

             var selectedOption = $("#groupDropdown").find(":selected");

             if (selectedOption.length > 0) {
                 var groupId = selectedOption.val();
                 var groupName = selectedOption.text();

                 // Split the groupId if it contains the separator "-"
                 var parts = groupId.split("-");
                 if (parts.length === 2) {
                     groupId = parts[1]; // Extract the actual groupId
                 }

                 // Check if all required fields are not empty
                 if (fDate !== "" && tDate !== "" && groupId !== "") {
                     window.location.href = `@Url.Action("GroupTableSwap", "Graph")?id=${groupId}&fd=${fDate}&td=${tDate}`;
                 } else {
                     alert('Please Check Date Selection and Group Name.');
                 }
             } else {
                 alert('Please select a Group Name.');
             }
    }

    function OnTSWSelectChanged() {
        var groupId = "GTW";
        var data = document.getElementById("ddlTranswise");
        var selectedOption = data.options[data.selectedIndex];
        var value = selectedOption.value;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTsWData", "Home")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ strTransformer : value }),
            success: function (response) {
                if (response) {
                    document.getElementById(`tsyesterday_${groupId}`).innerHTML = response.YesdayCon;
                    document.getElementById(`tsyesterday_${groupId}`).style.color = '#fff';

                    document.getElementById(`tstoday_${groupId}`).innerHTML = response.TodayCon;
                    document.getElementById(`tstoday_${groupId}`).style.color = '#fff';
                }
            },
            error: function (err) {
                console.log(err);
                alert(err);
            }
        });
    }

    function LoadGroupNames() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetEnergyData", "Home")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ groupId: 0 }),
            success: function (resultData) {
                var dropdown = $("#groupDropdown");
                dropdown.empty();


                var defaultOption = new Option("Select Group Name", "default");
                defaultOption.selected = true;
                dropdown.append(defaultOption);

                if (resultData.GroupNames && Array.isArray(resultData.GroupNames)) {
                    resultData.GroupNames.forEach(groupName => {
                        var option = new Option(groupName, groupName);
                        dropdown.append(option);
                    });
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function LoadMeterData(groupId) {
        $.ajax({
            type: 'POST',
            ////url: '@Url.Action("GetEnergyData", "Home")',
            url: '@Url.Action("GetEnergyData_ReWork", "Home")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ groupId: groupId }),
            success: function (resultData) {

                if (groupId === "GTW") {
                    //var meterGrid = document.getElementById(`meterGrid_${groupId}`);
                    //meterGrid.innerHTML = '';

                    document.getElementById(`tsyesterday_${groupId}`).innerHTML = '00';
                    document.getElementById(`tstoday_${groupId}`).innerHTML = '00';

                    document.getElementById(`yesterday_${groupId}`).innerText = resultData.YeasterdayConsume;
                    document.getElementById(`yesterday_${groupId}`).style.color = '#fff';

                    document.getElementById(`today_${groupId}`).innerText = resultData.TodayConsume;
                    document.getElementById(`today_${groupId}`).style.color = '#fff';
                }
                else {
                    document.getElementById(`yesterday_${groupId}`).innerText = resultData.YeasterdayConsume;
                    document.getElementById(`yesterday_${groupId}`).style.color = '#fff';

                    document.getElementById(`today_${groupId}`).innerText = resultData.TodayConsume;
                    document.getElementById(`today_${groupId}`).style.color = '#fff';

                    document.getElementById(`var_today_con${groupId}`).innerText = resultData.variable_TodayCon;
                    document.getElementById(`var_today_con${groupId}`).style.color = '#fff';

                    document.getElementById(`var_yesday_con${groupId}`).innerText = resultData.variable_YesterdayCon;
                    document.getElementById(`var_yesday_con${groupId}`).style.color = '#fff';

                    document.getElementById(`fix_today_con${groupId}`).innerText = resultData.fixed_TodayCon;
                    document.getElementById(`fix_today_con${groupId}`).style.color = '#fff';

                    document.getElementById(`fix_yesday_con${groupId}`).innerText = resultData.fixed_YesterdayCon;
                    document.getElementById(`fix_yesday_con${groupId}`).style.color = '#fff';
                }


                //if (resultData.MeterNames && Array.isArray(resultData.MeterNames)) {
                //    resultData.MeterNames.forEach(meter => {
                //        var meterItem = document.createElement('div');
                //        meterItem.className = 'grid-item';
                //        meterItem.innerText = meter;
                //        meterGrid.appendChild(meterItem);
                //    });
                //}
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function btn_OverAll() {
        window.location.href = `@Url.Action("OverAllIndex","Home")`;
    }

    function btn_TopCons() {
        window.location.href = `@Url.Action("TotalIndex","Total")`;
    }

    function navigateToNextPage(groupId, groupName) {
        var yesdays = document.getElementById(`yesterday_${groupId}`).innerText;
        var todays = document.getElementById(`today_${groupId}`).innerText;
        var vals = `${groupId},${yesdays},${todays}`;
        window.location.href = `@Url.Action("InduvidualStationsData", "Home")?groupId=${vals}&groupName=${groupName}`;
    }

    //  For Toggle Menu Icons Hide Only
    function toggleControls1() {
        const controls = document.querySelector('.controls');
        controls.style.display = "none";
    }

    //  For Toggle Menu Icons Both Open and Hide
    function toggleControls() {
        const controls = document.querySelector('.controls');
        if (controls.style.display === "none" || controls.style.display === "") {
            controls.style.display = "flex";
        } else {
            controls.style.display = "none";
        }
    }
</script>
